body {
  font-family: Arial, sans-serif;
  background-color: #0e446b;
  margin: 0;
  padding: 0;
}

.logo-container {
  text-align: center;
  width: 100%;
}
.sdc-logo {
  width: 100px;
  height: 100px;
}
.tooltip {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  display: none;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
}
